<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soquair"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.soquair.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>                
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--广告点击后，打开Landing Site时使用的Activity，必选 (将com.soquair.android替换成你在SoquAir平台上所写的包名)-->
         <activity
            android:name="com.soquair.android.SoquAirActivity"
            android:excludeFromRecents="true"  >
        </activity>
        <!-- 广告所需的BroadcastReceiver 必选 (将com.soquair.android替换成你在SoquAir平台上所写的包名) -->
       <receiver android:name="com.soquair.android.SoquReceiver">
           	<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<data android:scheme="package" />
			</intent-filter>			
			<intent-filter>
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
       </receiver>
       <!-- 广告点击后，下载应用时所需的service，必选 (将com.soquair.android替换成你在SoquAir平台上所写的包名)-->
        <service
            android:name="com.soquair.android.SoquAirApkService"
            android:enabled="true" >
        </service>  
    </application>

    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
